.contenedor_principal {
  align-items: center;
  background-color: #DBDBDB;
  box-shadow: 5px 5px 5px #e8e8e8;
  border: 1px solid #a8a8a8;
  display: flex;
  flex-flow: row wrap;
  margin: 1em auto;
  padding: 1em 2em;
  width: 70%;
}

.cabecera {
  text-align: center;
  width: 100%;
}

.panel-acciones {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 2em;
  text-align: left;
}

.lista_tareas {
  width: 100%;
}

.tarea-info {
  margin-left: 1em;
}

.tarea-info h3:hover {
  text-decoration: underline;
}

.tarea-info h4 {
  color: #a0a0a0;
}

.tarea-descripcion {
  margin-left: 1em;
}

.select-tecnico {
  width: 300px;
}

#txtDescripcion #txtTareas {
  resize: vertical;
}
