<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tareas Realizadas</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="estilos.css">

    <!-- Jquery 3 -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Vue Js Development Version -->
    <script src="vue.js" charset="utf-8"></script>
  </head>
  <body>

    <article class="contenedor_principal" id="VueApp">

      <header class="cabecera">
        <h1>Tareas Realizadas</h1>

        <div class="panel panel-primary panel-acciones">
          <div class="panel-heading">
            <h3 class="panel-title">Acciones:</h3>
          </div>
          <div class="panel-body">
            <button class="btn btn-primary" type="button" data-toggle="collapse" href="#collapse-formTarea"
                  aria-expanded="false" aria-controls="collapse-formTarea">Ingresar Nueva Tarea</button>
            <button class="btn btn-primary" type="button" v-on:click="guardar_tarea">
                Exportar Tareas Para Mail</button>

            <div class="collapse" id="collapse-formTarea">
              <div class="panel panel-primary panel-acciones">
                <div class="panel-heading">
                  <h3 class="panel-title">Nueva Tarea:</h3>
                </div>
                <div class="panel-body">
                    <form>
                      <div class="form-group">
                        <label for="txtTarea">Nombre De La Tarea:</label>
                        <input class="form-control" type="text" id="txtTarea" v-model="tarea.nombre">
                      </div>
                      <div class="form-group">
                        <label for="txtUsuario">Nombre Del Usuario:</label>
                        <input class="form-control" type="text" id="txtUsuario" v-model="tarea.usuario">
                      </div>
                      <div class="form-group">
                        <label for="txtTicket">Número De Ticket:</label>
                        <input class="form-control" type="text" id="txtTicket" v-model="tarea.ticket">
                      </div>
                      <div class="form-group">
                        <label for="txtDescripcion">Descripción:</label>
                        <textarea class="form-control" id="txtDescripcion" rows="4" v-model="tarea.desc"></textarea>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapse-formTarea">Cancelar</button>
                        <button class="btn btn-success" type="button" @click="guardar_tarea"
                          data-toggle="collapse" data-target="#collapse-formTarea">Almacenar Tarea</button>
                      </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <section class="lista_tareas">
        <ul class="list-group">
          <li class="list-group-item" v-for="(tarea, i) in tareas" :indice="i">
            <div class="tarea-info" data-toggle="collapse" :href="'#collapse-tarea-'+i"
                  aria-expanded="false" aria-controls="'collapse-tarea-'+i">
              <h3>Tarea: <strong>{{ tarea.nombre }}</strong></h3>
              <h4>Usuario: <strong>{{ tarea.usuario }}</strong></h4>
              <h5>Ticket: <strong>{{ tarea.ticket }}</strong></h5>
            </div>
            <div class="tarea-descripcion">
              <div class="tarea-acciones">
                <button type="button" name="button" class="btn btn-danger btn-xs" @click="eliminarTarea(i)">
                  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Eliminar Tarea</button>
              </div>
              <div class="collapse" :id="'collapse-tarea-' + i">
                <h5><strong>Descripcion:</strong></h5>
                <div class="well">
                  {{ tarea.desc }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </section>

    </article>


  <script>

    new Vue({
      el: '#VueApp',
      data: {
        tareas: JSON.parse(localStorage.getItem('tareas')),
        tarea: {
          nombre: '',
          usuario: '',
          ticket: '',
          desc: ''
        }
      },
      methods: {
        guardar_tarea: function() {
          var vue = this;
          this.tareas.push(this.tarea);
          this.guardarEnLS(function(){
            vue.resetFormTareas();
          });
        },
        eliminarTarea: function(i) {
          this.tareas.splice(i, 1);
          this.guardarEnLS();
        },
        guardarEnLS: function(success) {
          localStorage.setItem('tareas', JSON.stringify(this.tareas));
          success();
        },
        resetFormTareas: function() {
          this.tarea.nombre = '';
          this.tarea.usuario = '';
          this.tarea.ticket = '';
          this.tarea.desc = '';
        }
      }
    });

  </script>

  </body>
</html>
