<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gauchos De Acero:</title>
    <link rel="stylesheet" href="styles.css">
    <script src="vue.js"></script>
  </head>
  <body>

    <div id="vm">
      <div id="titulo">
        <h1>Gauchos De Acero</h1>
        <h2>Compilación de videos</h2>
        <hr>
        <h2>Elija un video:</h2>
        <select @change="cargar_video" v-model="selected_video">
          <option value="0">Ninguno</option>
          <option :value="index + 1" v-for="(video, index) in videos">{{ video.nombre }}</option>
        </select>
      </div>
      <hr>
      <div id="reproductor_component" v-if="selected_video > 0">
        <div class="reproductor_header">
          <h2 class="inline">Titulo: </h2><h1 class="inline">{{ titulo }}</h1>
          <br>
          <h2 class="inline">Album: </h2><h1 class="inline">{{ album }}</h1>
          <hr>
        </div>
        <div id="reproductor" class="marco_reproductor" v-html="link_video">

        </div>
      </div>
    </div>

    <script>

      let rep = new Vue({
        el: '#vm',
        data: {
          titulo: '',
          album: '',
          link_video: '',
          selected_video: 0,
          videos: [
            {
              nombre: 'Ley Del Mal',
              album: 'Información Demente',
              link: '<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/GOK5BSo_E7M?rel=0&amp;showinfo=0?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>'
            },
            {
              nombre: 'Lucha Criolla',
              album: 'Sigue La Ruta',
              link: '<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/jJYTh2lvIkA?rel=0&amp;showinfo=0?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>'
            },
            {
              nombre: 'Mentiras En Papel',
              album: 'Sembrando El Metal',
              link: '<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/kn97Ko-6zqk?rel=0&amp;showinfo=0?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>'
            },
            {
              nombre: 'Un Nuevo Camino',
              album: 'Información Demente',
              link: '<div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://www.youtube.com/embed/BYPRk_2gYxs?ecver=2" width="640" height="360" frameborder="0" style="position:absolute;width:100%;height:100%;left:0" allowfullscreen></iframe></div>'
            }
          ]
        },
        methods: {
          cargar_video: function(event){
            let id_video = event.target.value - 1;
            this.titulo = this.videos[id_video].nombre;
            this.album = this.videos[id_video].album;
            this.link_video = this.videos[id_video].link;
          }
        }

      });

    </script>

  </body>
</html>
